<section class="home">
  <mat-spinner diameter="50" *ngIf="!userInfo"></mat-spinner>
  <mat-card *ngIf="userInfo" class="home__card">
    <div class="home__header">
      <h2 class="home__title">Welcome {{userInfo.name}} {{userInfo.surname}} <mat-icon *ngIf="userInfo.admin" class="home__icon--admin" matTooltip="You are an admin">verified_user</mat-icon></h2>
      <div class="home__buttons">
        <button *ngIf="userInfo.admin" routerLink = "/users" mat-icon-button matTooltip="Users panel">
            <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button (click)="logout()" mat-icon-button matTooltip="Logout">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
    <app-home-weather *ngIf="userInfo.city" [city]="userInfo.city"></app-home-weather>
  </mat-card>
  <div class="home__background"></div>
</section>